p {
    color: rgb(119, 9, 9);
  }
  html {
    font-size: 25px; /* px means "pixels": the base font size is now 10 pixels high */
    font-family:
      "Honk", sans-serif; /* this should be the rest of the output you got from Google Fonts */
  }
  h1 {
    font-size: 60px;
    text-align: center;
  }
  
  p,
  li {
    font-family:
    "Open Sans";
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }
  html {
    background-color: #fffc3b;
  }
  body {
    width: 600px;
    margin: 0 auto;
    background-color: #ff9500;
    padding: 0 20px 20px 20px;
    border: 5px solid rgb(250, 0, 187);
  }
  h1 {
    margin: 0;
    padding: 20px 0;
    color: #ff48c2;
    text-shadow: 3px 3px 1px black;
  }
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
  
  